*
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-weight: 400;
}

img,
picture {
  width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}